@use '../helpers' as *;



.services-section {

	&__container {
	}

	&__title {
	}

	&__accordion {
	}
}


.accordion {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	gap: 15px;

	&__item {
		flex: 0 0 75%;
		position: relative;
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
		border-radius: var(--border-radius-size);
		transition: all var(--transition-duration) linear;
		
		&:hover {
			box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
			.accordion__item_trigger {
				background-color: #f8f8f8;
				text-decoration: underline;
				
			}
		}

		&_input {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}

		&_input:checked ~ .accordion__item_content {
			max-height: 100px;
			margin-bottom: 30px;
		}
		&_input:checked ~ .accordion__item_trigger svg {
			transform: rotate(90deg);
		}

		&_trigger {
			@include fluid-text-size(36, 18);

			display: flex;
			align-items: center;
			gap: 15px;
			padding: 20px;
			border-radius: var(--border-radius-size);
			font-family: var(--font-family-accent);
			line-height: 1;
			cursor: pointer;

			& svg {
				display: inline-block;
				height: 25px;
				transition: all var(--transition-duration) linear;
			}
		}

		&_content {
			@include fluid-text-size(22, 16);
			
			max-height: 0;
			padding: 0 20px;
			overflow: hidden;
			transition: all var(--transition-duration) linear;

			color: var(--color-grey);
			line-height: 1.5;
		}
	}
}


